.signup-page {
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 100;
    top: 5%;
    // left: 30%;
    right: 0%;
    width: 50vw;
    .heading {
    }

    .sigup-form {
    }
}
