.signin-page{
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 100;
    top:5%;
    left:0%;
    // right: 30%;
    width: 50vw;
    .heading{

    }

    .sigin-form{
        

    }
}