/* body {
    background-color: #282c34;
  } */
  
  .CApp {
    text-align: center;
    max-width: 728px;
    margin: 0 auto;
  }
  
  .CApp header {
    background-color: #181717;
    height: 10vh;
    min-height: 50px;
    color: white;
    position: fixed;
    width: 100%;
    max-width: 728px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .CApp section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
  }
  
  .main1 {
    padding: 10px;
    height: 80vh;
    margin: 10vh 0 10vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
  
  .main1::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  .main1::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  .main1::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  
  .form1 {
    height: 10vh;
    position: fixed;
    bottom: 0;
    background-color: #0055ff;
    width: 100%;
    max-width: 728px;
    display: flex;
    font-size: 1.5rem;
  }
  
  .form1 button {
    width: 20%;
    background-color: #0055ff;
  }
  
  
  .input1 {
    line-height: 1.5;
    width: 100%;
    font-size: 1.5rem;
    background: rgb(0, 0, 0);
    color: white;
    outline: none;
    border: none;
    padding: 0 10px;
  }
  
  .button1 {
    background-color: #0055ff; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.25rem;
  }
  
  .button1:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  
  .sign-in {
    color: #282c34;
    background: white;
    max-width: 400px;
    margin: 0 auto;
  }
  
  
  
  
  .ul1 {
    text-align: left;
    list-style: none;
  }
  .li1 {
    text-align: left;
    list-style: none;
  }
  .p1 {
    max-width: 500px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    position: relative;
    color: white;
    text-align: center;
  }
  
  .message {
    display: flex;
    align-items: center;
  }
  
  
  .sent {
    flex-direction: row-reverse;
  }
  
  .sent p {
    color: white;
    background: #0b93f6;
    align-self: flex-end;
  }
  .received p {
    background: #e5e5ea;
    color: black;
  }
  
  .img1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px 5px;
  }