.signin-signup-page-container{
   
    // background-color: #385df2;
    background-color: #56b5e8;

    // background-color: #bedcfa;


    .signin-signup-page{
        display: flex;
        flex-direction: row;
    }

}